div > table:first-of-type {
  background: url("https://i.imgur.com/ALqVfrB.png") no-repeat scroll 100% 0
    transparent;
  display: block;
  height: 0 !important;
  overflow: hidden;
  padding-top: 32px !important;
  position: fixed;
  right: 4px;
  table-layout: fixed;
  text-align: center;
  top: 4px;
  width: auto !important;
  z-index: 6;
  -moz-box-sizing: border-box;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
div > table:first-of-type:hover {
  background: url("https://i.imgur.com/v5dQoJN.png") no-repeat scroll 100% 0
    transparent !important;
  height: 250px !important;
  width: auto !important;
}
div > table:first-of-type tbody {
  height: 32px !important;
  overflow: hidden;
}
div > table:first-of-type tr {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
  border-radius: 3px 0 3px 3px;
  display: block;
  padding: 8px 0 4px;
}
div > table:first-of-type td {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
  display: block;
  width: 100%;
}
div > table:first-of-type a {
  background-color: rgba(64, 60, 90, 0.6);
  border-radius: 3px 3px 3px 3px;
  color: #ffffff;
  display: block;
  font: 13px/17px "Arial", sans-serif;
  margin: 0 12px 4px;
  padding: 3px 16px;
  text-decoration: none;
}
div > table:first-of-type a:hover {
  background-color: #403c5a;
  color: white;
}
#mal_cs_listinfo,
#mal_cs_links,
#mal_cs_otherlinks,
#mal_cs_powered {
  -moz-box-sizing: border-box;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background: none no-repeat scroll 100% 0 transparent;
  border: 0 none;
  height: 0 !important;
  overflow: hidden;
  padding: 32px 0 0 !important;
  position: fixed;
  right: 4px;
  text-align: center;
  top: 4px;
  width: 150px !important;
  z-index: 10;
}
#mal_cs_listinfo:hover,
#mal_cs_links:hover,
#mal_cs_otherlinks:hover,
#mal_cs_powered:hover {
  height: 200px !important;
  padding-top: 32px !important;
}
#mal_cs_listinfo div,
#mal_cs_links div,
#mal_cs_otherlinks div,
#mal_cs_powered div,
#mal_cs_powered dd {
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px 0 0 0;
  font-size: 0 !important;
  line-height: 0;
  margin: 0 !important;
  opacity: 0;
  padding: 8px 0 0 !important;
}
#mal_cs_listinfo:hover div,
#mal_cs_links:hover div,
#mal_cs_otherlinks:hover div,
#mal_cs_powered:hover div,
#mal_cs_powered:hover dd {
  opacity: 1;
}
#mal_cs_listinfo div:nth-of-type(2),
#mal_cs_links div:nth-of-type(2),
#mal_cs_otherlinks div:nth-of-type(2),
#mal_cs_powered div:nth-of-type(2) {
  border-radius: 0 0 3px 3px;
  padding: 4px 0 8px !important;
}
#mal_cs_listinfo a,
#mal_cs_links a,
#mal_cs_otherlinks a,
#mal_cs_powered a {
  background-color: rgba(64, 60, 90, 0.6) !important;
  border-radius: 3px 3px 3px 3px;
  display: block;
  font: 13px/17px "Arial", sans-serif !important;
  margin: 4px 12px 0;
  padding: 3px 0 !important;
  text-decoration: none;
}
#mal_cs_listinfo a:nth-of-type(1),
#mal_cs_links a:nth-of-type(1),
#mal_cs_otherlinks a:nth-of-type(1),
#mal_cs_powered a:nth-of-type(1) {
  margin-top: 0;
}
#mal_cs_listinfo a:hover,
#mal_cs_links a:hover,
#mal_cs_otherlinks a:hover {
  background-color: #403c5a !important;
}
#mal_cs_listinfo strong a strong {
  font-weight: normal;
}
#mal_cs_otherlinks strong {
  color: #333333;
  display: block;
  font: bold 13px/17px "Arial", sans-serif !important;
  padding: 0 4px 4px;
  text-shadow: 0 1px 1px #ffffff;
}
#mal_cs_otherlinks strong a {
  background: none repeat scroll 0 0 transparent !important;
  border-radius: 0 0 0 0;
  color: #333333;
  display: inline;
  font: bold 13px/17px "Arial", sans-serif !important;
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 1px #ffffff;
}
#mal_cs_powered a {
  background-color: rgba(255, 255, 255, 0.6) !important;
  border-radius: 3px 0 0 0 !important;
  display: block !important;
  margin: 0 !important;
  opacity: 0;
  padding: 8px 0 0 !important;
}
#mal_cs_powered:hover a {
  opacity: 1;
}
#mal_cs_powered a img {
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background: url("https://i.imgur.com/fGTjBC3.png") no-repeat scroll 50% 6px
    rgba(64, 60, 90, 0.6);
  border-radius: 3px 3px 3px 3px;
  display: block;
  height: 0;
  margin: 0 12px;
  padding: 23px 0 0 126px;
  width: 0;
}
#mal_cs_powered a img:hover {
  background-color: #403c5a;
}
#mal_cs_powered #search {
  border-radius: 0 0 3px 3px;
  padding: 8px !important;
  position: relative;
}
#searchBox {
  -moz-box-sizing: border-box;
  border-color: #bcbcbc #d6d6d6 #d6d6d6;
  border-radius: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 13px;
  height: 28px;
  padding-left: 6px !important;
  padding-right: 24px !important;
  vertical-align: top;
  width: 100px;
}
#searchBox:hover,
#searchBox:focus {
  border-color: #acacac #c6c6c6 #c6c6c6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
#searchListButton {
  background: url("https://i.imgur.com/XqsilHp.png") no-repeat scroll 0 0
    transparent !important;
  border-radius: 3px 3px 3px 3px;
  height: 0;
  margin: 0;
  padding: 16px 0 0 19px !important;
  position: absolute;
  right: 12px !important;
  top: 14px !important;
  width: 0;
}
#mal_cs_listinfo {
  background-image: url("https://i.imgur.com/UXZxrWI.png");
  right: 172px;
}
#mal_cs_listinfo:hover {
  background-image: url("https://i.imgur.com/VcVVnod.png");
}
#mal_cs_links {
  background-image: url("https://i.imgur.com/LpXWTzt.png");
  right: 138px !important;
  z-index: 9;
}
#mal_cs_links:hover {
  background-image: url("https://i.imgur.com/oPfKrOl.png");
}
#mal_cs_otherlinks {
  background-image: url("https://i.imgur.com/ogmX9qC.png");
  right: 104px !important;
  z-index: 8;
}
#mal_cs_otherlinks:hover {
  background-image: url("https://i.imgur.com/EEGHkbF.png");
}
#mal_cs_powered {
  background-image: url("https://i.imgur.com/ct4BVP5.png");
  position: fixed !important;
  right: 70px !important;
  z-index: 7;
}
#mal_cs_powered:hover {
  background-image: url("https://i.imgur.com/TUUWtaj.png");
}
#mal\_control\_strip {
  background: none repeat scroll 0 0 transparent !important;
}
#mal_cs_pic img {
  display: none;
}
#mal_cs_pic,
#mal_cs_listinfo,
#mal_cs_links {
  border-right: 0 none !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #searchBox {
    width: 95px !important;
  }
}
