@import "https://mal-image.appspot.com/manga/stradivari96";
@import url(https://gitcdn.link/repo/stradivari96/Myanimelist/master/stradivari96/blacktopbar.css);
@import "https://fonts.googleapis.com/css?family=Handlee";
/*
@font-face {
    font-family: beacon;
    src: url(https://dl.dropbox.com/s/k0f3nd4ml7qb1ao/beacon.ttf);
}
*/

body {
	cursor: url(http://cur.cursors-4u.net/games/gam-14/gam1340.cur) 1 1, auto;
	background-attachment: fixed;
	background-color: rgb(98,89,156);
	background-image: url(http://i.imgur.com/vgWMg7s.png);
	background-position: right bottom;
	background-repeat: no-repeat no-repeat;
	color:#FFFFFF;
	font-family:Handlee;
}
/*
#inlineContent {
	background: url(http://i257.photobucket.com/albums/hh234/tfm448/Snow411.gif) repeat fixed transparent !important;
	display: inline-block !important;
	height: 100% !important;
	left: 0 !important;
	margin: auto !important;
	position: fixed !important;
	right: 0 !important;
	top: 0 !important;
	width: 100% !important;
	z-index: -1 !important;
}
*/

#list_surround {
	left:80px !important;
	position:absolute !important;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url(http://i.imgur.com/W8ilzRk.png);
	background-position:-18px -134px;
	background-repeat:no-repeat no-repeat;
	font-size:15px;
	line-height:1;
	margin:0 auto;
	padding-bottom:10px;
	padding-top:100px;
	width:700px;
}

a {
	-webkit-transition:all 0.25s ease-in-out 0s;
	color:#FFFFFF;
	text-decoration:none;
	text-shadow:none;
	transition:all 0.25s ease-in-out 0s;
}

a:hover {
}

.table_header {
	background-color:rgba(0, 0, 0, 0.6);
	height:20px;
}

.table_header:nth-of-type(2) {
	text-align:left;
}



.td1 {
	background-color: transparent;
	height:20px;
	-webkit-transition:all 0.15s ease-in-out 0s;
	transition:all 0.15s ease-in-out 0s;
}

.td2 {
	background-color:rgba(0,0,0,0.6);
	height:20px;
	-webkit-transition:all 0.15s ease-in-out 0s;
	transition:all 0.15s ease-in-out 0s;
}

tr:hover [class^="td"] {
	background-color:rgba(250, 150, 50, 0.8);

}

.td1:nth-of-type(2), .td2:nth-of-type(2) {
	text-align:left;
}

.table_header, .td1, .td2, .status_selected, .status_not_selected, .category_totals {
	border:0;
	padding:4px;
	text-align:center;
	vertical-align:middle;
}

.table_header, .td1, .td2, .category_totals {
	line-height:20px;
}

.borderRBL {
	line-height:normal !important;
}

[cellspacing="0"] {
	line-height:20px;
}

.category_totals {
	padding-top: 20px;
	background-color:transparent;
	border-top-left-radius:0;
	border-top-right-radius:0;
	font-size: 18px;
	color: #FFFAAA;
	line-height:15px;
	text-align:center;
}

[class^="header_"] * {
	font-size:30px;
	height:60px;
	line-height:20px;
	padding-bottom:10px;
	padding-left:6px;
	text-align:center;
	text-shadow:black 2px 1px;
	vertical-align:bottom;
}

.header_title {
	font-family: arial;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	color:#FFFFFF;
	display:inline-block;
	font-style:italic;
	height:auto;
	padding:0 8px 0 0;
	text-shadow:rgba(0, 0, 0, 0.14902) 0 1px 1px;
}

#grand_totals {
	background-color:rgba(0, 0, 0, 0.6);
	border:0 none;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	color:#FFFFFF;
	line-height:20px;
	min-height:20px;
	padding:8px;
	text-align:center;
	vertical-align:middle;
}

#copyright {
	background-color:rgba(0, 0, 0, 0.8);
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	color:#EEEEEE;
	line-height:17px;
	margin-top:10px;
	padding:8px;
	text-align:center;
}

.animetitle + small {
	color:#F5B800 !important;
	text-shadow:black 1px 1px;
}

#copyright::after {
}

#list_surround .status_selected, #list_surround .status_not_selected {
	display: none;
}

:hover + .hide {
    background-color: transparent;
    background-position: center 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    display: block !important;
    height: 400px;
    padding-bottom: 0;
    position: fixed;
    left: 790px;
    top: 160px;
    width: 250px;
}
/*Remove more link*/
#list_surround tab\le:nth-of-type(n+4):hover td:nth-of-type(3),
#list_surround tab\le:nth-of-type(n+4):hover td:nth-of-type(4),
#list_surround tab\le:nth-of-type(n+4):hover td:nth-of-type(5),
#list_surround tab\le:nth-of-type(n+4):hover td:nth-of-type(6),
#list_surround tab\le:nth-of-type(n+4):hover td:nth-of-type(7),
#list_surround tab\le:nth-of-type(n+4):hover td:nth-of-type(8) {
    display: tab\le-cell;
}

#list_surround small a:last-of-type {
    display: none !important;
}

.animetitle + small {
    visibility: visible !important;
}

#list_surround a[href*="http://myanimelist.net/panel.php?go=edit"],
#list_surround a[href*="http://myanimelist.net/editlist.php?type="],
#list_surround a[href*="http://myanimelist.net/panel.php?go=add"] {
    visibility: visible !important;
    margin-right: 10px
}

.td1:nth-of-type(6) small, .td2:nth-of-type(6) small,
.td1:nth-of-type(5) small, .td2:nth-of-type(5) small,
.td1:nth-of-type(4) small, .td2:nth-of-type(4) small {
    visibility: visible !important;
}

.td1:nth-of-type(6) small:hover, .td2:nth-of-type(6) small:hover,
.td1:nth-of-type(5) small:hover, .td2:nth-of-type(5) small:hover,
.td1:nth-of-type(4) small:hover, .td2:nth-of-type(4) small:hover{
    text-decoration: underline;
}

/*
#inlineContent {
	background: url(http://orig01.deviantart.net/b834/f/2014/349/a/c/transparent_snow_gif_by_zhdara-d89z7ri.gif) repeat fixed transparent !important;
	display: inline-block !important;
	height: 100% !important;
	left: 0 !important;
	margin: auto !important;
	position: fixed !important;
	right: 0 !important;
	top: 0 !important;
	width: 100% !important;
	z-index: -1 !important;
}
*/
