@import "https://dl.dropboxusercontent.com/s/wcbipw8geysvi6g/CategoryMenu.css";
@import "https://dl.dropboxusercontent.com/s/yliyym1az5zcogg/Style.css";
@import "https://dl.dropboxusercontent.com/s/qj6g76yqckuon6d/TabContent.css";
@import "https://dl.dropboxusercontent.com/s/d0h73tfo0rr1pz9/TopMenu.css";
@\import "https://malscraper.azurewebsites.net/covers/anime/barbedlevia/presets/more";

.status_selected a[href*="status=7"], .status_not_selected a[href*="status=7"]{
top: -75px;
left: 620px;
position: absolute;
}

td[class^='td']:last-child {
    width: 52px !important;
}

.hide {
    background-position: center !important;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px 25px 25px 25px;
    display: block !important;
    opacity: 0;
    transition: opacity 0.12s linear 0.08s;
    height: 400px;
    position: fixed;
    right: 8%;
    top: 220px;
    width: 250px;
}

:hover + .hide {
    opacity: 1;
}
