@import "https://dl.dropboxusercontent.com/s/wcbipw8geysvi6g/CategoryMenu.css";
@import "https://dl.dropboxusercontent.com/s/yliyym1az5zcogg/Style.css";
@import "https://dl.dropboxusercontent.com/s/qj6g76yqckuon6d/TabContent.css";
@import "https://dl.dropboxusercontent.com/s/d0h73tfo0rr1pz9/TopMenu.css";


.status_selected a[href*="status=7"], .status_not_selected a[href*="status=7"]{
top: -75px;
left: 620px;
position: absolute;
}

td[class^='td']:last-child {
    width: 52px !important;
}
